# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
print("Total number of unique schools: ", school_count)

Total number of unique schools:  15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].value_counts().sum()
# student_count1 = len(student_count)
print("Total number students: ", student_count)
student_count

Total number students:  39170

39170

In [4]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
print("Total budget: $", total_budget)

Total budget: $ 82932329558

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
print("Average district math score: ", average_math_score)

Average district math score:  78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
print("Average district reading score: ", average_reading_score)

Average district reading score:  81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"]>= 70)].count()["student_name"]
passing_reading_percentage = float(passing_reading_count) / student_count * 100 
print("Percentage of students passing reading: ", passing_reading_percentage)

Percentage of students passing reading:  85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# district_summary = school_data_complete.set_index("School ID")
district_summary = pd.DataFrame({"Total Students": student_count,"Total Budget": total_budget, "Average Reading Score": average_reading_score, "Passing Math Count":passing_math_count}, [0])

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Students,Total Budget,Average Reading Score,Passing Math Count
0,"39,170","$82,932,329,558.00",81.87784,29370

## School Summary

In [11]:
#school name
school_names = school_data_complete.set_index(["school_name"])["type"]
#.unique()

print(str(school_names).strip('[]'))

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [12]:
school_names_count = school_data_complete["school_name"].nunique()
school_names_count

15

In [13]:
# Use the code provided to select all of the school types
school_types = school_data_complete["type"].unique()
# .max()
school_types

array(['District', 'Charter'], dtype=object)

In [14]:
school_types_count = school_data_complete["type"].nunique()
school_types_count

2

In [15]:
# Calculate the total student count per school

school_grouped_data = school_data_complete.groupby(["school_name"])
per_school_counts = school_grouped_data["student_name"].nunique()
per_school_counts
# can't use nunique()

school_name
Bailey High School       4799
Cabrera High School      1834
Figueroa High School     2886
Ford High School         2676
Griffin High School      1449
Hernandez High School    4501
Holden High School        424
Huang High School        2858
Johnson High School      4618
Pena High School          955
Rodriguez High School    3902
Shelton High School      1738
Thomas High School       1619
Wilson High School       2248
Wright High School       1783
Name: student_name, dtype: int64

In [16]:
# Calculate the total school budget per school
per_school_budget = school_grouped_data["budget"].sum()
per_school_budget
#

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [17]:
# Calculate the per capita spending per school

per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       3.240184e+06
Cabrera High School      1.095507e+06
Figueroa High School     1.925547e+06
Ford High School         1.805443e+06
Griffin High School      9.295307e+05
Hernandez High School    3.111989e+06
Holden High School       2.498423e+05
Huang High School        1.950078e+06
Johnson High School      3.190478e+06
Pena High School         5.901522e+05
Rodriguez High School    2.610688e+06
Shelton High School      1.070583e+06
Thomas High School       1.053439e+06
Wilson High School       1.340119e+06
Wright High School       1.059405e+06
dtype: float64

In [18]:
# Calculate the average test scores per school
per_school_math = school_grouped_data["math_score"].mean()
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
# Calculate the average test scores per school
per_school_reading = school_grouped_data["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
students_passing_math.head()
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [21]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
students_passing_reading.head()
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [22]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
per_school_passing_math
per_school_passing_reading
overall_passing_rate

school_name
Bailey High School       56.657637
Cabrera High School      92.529989
Figueroa High School     54.365904
Ford High School         55.568012
Griffin High School      91.787440
Hernandez High School    55.121084
Holden High School       89.858491
Huang High School        54.618614
Johnson High School      55.197055
Pena High School         91.204188
Rodriguez High School    54.305484
Shelton High School      91.081703
Thomas High School       91.846819
Wilson High School       91.992883
Wright High School       91.194616
dtype: float64

In [24]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"Total School Budget":per_school_budget,"Per Student Budget":per_school_capita, "Total student Count":per_school_counts, "Average school Math Score":per_school_math, "Average school Reading Score":per_school_reading, "Math Passing Rates":per_school_passing_math, "Reading Passing Rates":per_school_passing_reading, "% Overall Passing":overall_passing_rate}) 
#  Following three columns not works --
#                                    "Students Passing Reading":students_passing_reading})
#                                    "Students Passing Math":students_passing_math})
#                                    "Schools passing Math & Reading":students_passing_math_and_reading})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,Total School Budget,Per Student Budget,Total student Count,Average school Math Score,Average school Reading Score,Math Passing Rates,Reading Passing Rates,% Overall Passing
school_name,,,,,,,,
Bailey High School,"$15,549,641,728.00","$3,240,183.73",4799,77.048432,81.033963,69.139404,84.955199,56.657637
Cabrera High School,"$2,009,159,448.00","$1,095,506.79",1834,83.061895,83.975780,95.365322,98.309706,92.529989
Figueroa High School,"$5,557,128,039.00","$1,925,546.79",2886,76.711767,81.158020,67.428967,82.501733,54.365904
Ford High School,"$4,831,365,924.00","$1,805,443.17",2676,77.102592,80.746258,69.917788,81.165919,55.568012
Griffin High School,"$1,346,890,000.00","$929,530.71",1449,83.351499,83.816757,94.616977,98.412698,91.787440
Hernandez High School,"$14,007,062,700.00","$3,111,989.05",4501,77.289752,80.934412,68.740280,83.270384,55.121084
Holden High School,"$105,933,149.00","$249,842.33",424,83.803279,83.814988,93.160377,96.933962,89.858491
Huang High School,"$5,573,322,295.00","$1,950,077.78",2858,76.629414,81.182722,67.039888,82.995101,54.618614
Johnson High School,"$14,733,628,650.00","$3,190,478.27",4618,77.072464,80.966394,68.103075,83.737549,55.197055
Pena High School,"$563,595,396.00","$590,152.25",955,83.839917,84.044699,95.287958,96.649215,91.204188
Rodriguez High School,"$10,186,904,637.00","$2,610,688.02",3902,76.842711,80.744686,68.016402,82.214249,54.305484
Shelton High School,"$1,860,672,600.00","$1,070,582.62",1738,83.359455,83.725724,95.109321,97.123130,91.081703
Thomas High School,"$1,705,517,550.00","$1,053,438.88",1619,83.418349,83.848930,94.193947,98.270537,91.846819
Wilson High School,"$3,012,587,442.00","$1,340,118.97",2248,83.274201,83.989488,95.329181,98.042705,91.992883
Wright High School,"$1,888,920,000.00","$1,059,405.50",1783,83.682222,83.955000,94.223219,97.532249,91.194616

## Highest-Performing Schools (by % Overall Passing)

In [25]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

,Total School Budget,Per Student Budget,Total student Count,Average school Math Score,Average school Reading Score,Math Passing Rates,Reading Passing Rates,% Overall Passing
school_name,,,,,,,,
Cabrera High School,"$2,009,159,448.00","$1,095,506.79",1834,83.061895,83.975780,95.365322,98.309706,92.529989
Wilson High School,"$3,012,587,442.00","$1,340,118.97",2248,83.274201,83.989488,95.329181,98.042705,91.992883
Thomas High School,"$1,705,517,550.00","$1,053,438.88",1619,83.418349,83.848930,94.193947,98.270537,91.846819
Griffin High School,"$1,346,890,000.00","$929,530.71",1449,83.351499,83.816757,94.616977,98.412698,91.787440
Pena High School,"$563,595,396.00","$590,152.25",955,83.839917,84.044699,95.287958,96.649215,91.204188

## Bottom Performing Schools (By % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

,Total School Budget,Per Student Budget,Total student Count,Average school Math Score,Average school Reading Score,Math Passing Rates,Reading Passing Rates,% Overall Passing
school_name,,,,,,,,
Rodriguez High School,"$10,186,904,637.00","$2,610,688.02",3902,76.842711,80.744686,68.016402,82.214249,54.305484
Figueroa High School,"$5,557,128,039.00","$1,925,546.79",2886,76.711767,81.158020,67.428967,82.501733,54.365904
Huang High School,"$5,573,322,295.00","$1,950,077.78",2858,76.629414,81.182722,67.039888,82.995101,54.618614
Hernandez High School,"$14,007,062,700.00","$3,111,989.05",4501,77.289752,80.934412,68.740280,83.270384,55.121084
Johnson High School,"$14,733,628,650.00","$3,190,478.27",4618,77.072464,80.966394,68.103075,83.737549,55.197055

## Math Scores by Grade

In [29]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby(["school_name"]).mean("math_score")
ninth_grader_math_scores
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean("math_score")
tenth_grader_math_scores 
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean("math_score")
eleventh_grader_math_scores
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean("math_score")
twelfth_grader_math_scores

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grader_math_scores, 
    "10th": tenth_grader_math_scores, 
    "11th": eleventh_grader_math_scores, 
    "12th": twelfth_grader_math_scores})

math_scores_by_grade

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Reading Score by Grade

In [30]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby(["school_name"]).mean("reading_score")
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean("reading_score")
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).mean("reading_score")
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).mean("reading_score")

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grader_reading_scores, 
    "10th": tenth_grader_reading_scores, 
    "11th": eleventh_grader_reading_scores, 
    "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

ValueError: If using all scalar values, you must pass an index

## Scores by School Spending

In [ ]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = 
school_spending_df

In [ ]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = 
per_school_summary

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = 

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary